
.generic-content-container{
  
    p{
        line-height: 1.65;
        margin: 0 0 1.8 0; 
        font-weight: 350;
    }


    @media atSmall {
     font-size: 1.125rem;
    }
}

p a{
    font-weight: 700;
}