.row {

    /* @mixin clearfix {}*/

    &--t-padding {
        padding-top: 80px;
    }


    &__b-margin {
        margin-bottom: 1rem;
    }


    @mixin atMedium {

        display: grid;
        grid-template-columns: repeat(12, 1fr);


        &--gutters {
            column-gap: 5.3%;
        }

        &--gutters-large {
            column-gap: 8%;
        }

        &--gutters-small {
            column-gap: 3.6%;
        }

        &__Large-1,
        &__Large-2,
        &__Large-3,
        &__Large-4,
        &__Large-5,
        &__Large-6,
        &__Large-7,
        &__Large-8,
        &__Large-9,
        &__Large-10,
        &__Large-11,
        &__Large-12{
            grid-column: span 12;
        }


        &__b-margin {
            margin-bottom: 0;
        }

        &__medium-4 {
            grid-column: span 4;
        }

        &__medium-6 {
            grid-column: span 6;

        }

        &__medium-8 {
            grid-column: span 8;
        }


    }

    @mixin atLarge {

        &__b-margin {
            margin-bottom: 0;
        }

        &__Large-4 {
            grid-column: span 4;
        }

        &__Large-6 {
            grid-column: span 6;
        }

        &__Large-8 {
            grid-column: span 8;
        }
    }

    @mixin atSmall {
        &__medium-4 {
            max-width: 976px;
        }
    }


    /*Begin Height rule*/
    &--equal-height-medium {

        @mixin atMedium {
            display: flex;
            margin-right: -45px;
        }

        & > div {
            display: flex;
        }
    }

    &--equal-height-Large {

        @mixin atLarge {
         
            & > div {
                display: flex;
            }
        }
    }







}